# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment files
.env

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/

# Build
dist/
build/

# VS Code
.vscode/

# Logs
*.log

# Python model/cache
*.pkl